body{
    background-image: url(img/p1.jpg);
    background-size: cover;
    
    
    
    
    }
    .code ul {
    
        animation-name: glow;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 2s ease-in-out infinite alternate;
        animation: glow 2s ease-in-out infinite alternate;
        list-style-type: none;
          float: right;
          margin-top: 25px;
          
          
    }
    .code ul li{
    
    
        display: inline-block;}
    
       .code ul li a{
            text-decoration: none;
            color: #fff;
            padding: 5px 20px;
            border: 1px solid transparent;
            transition: 0.6s ease;
        
        
        
            }
           .code ul li a:hover{
            background-color: #fff;
            color: black;
        
        
        
            }
          .code .active ul li.active a{
                background-color: #fff;
                color: black;
        
            }
    .logo img{
    
    width: 150px;
    height: 120px;
    margin-top: 0px;
    margin-left: 0px;
    
    }    
    .emp img {
     width: 100%;
     height: 600px;
     vertical-align: middle;
     filter: grayscale(1) brightness(0.5);
     border-radius: 7px;
     cursor: pointer;
     transition: 0.3s linear;
     animation-duration: 5s; 
     animation-iteration-count: 4;

    }
    .emp img:hover {
        filter: grayscale(0);
        padding-top: 40px;
        transition: 0.4s;
        
      }
      .emp{
        transition: 0.4s;
      }
      .emp:hover{
        padding-top: 40px;
        transition: 0.4s;
      }     
      @media screen and (max-width: 800px) {
        .column {
          flex: 50%;
          max-width: 50%;
        }
      }
    
    @import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
  .neons {
     margin-top: 10rem;
     text-align: center;
  }
  
  .neons h1 {
   
    font-size: 9rem;
    font-style: italic;
    font-family: Codystar;
    letter-spacing: 8px;
    text-align: center;
     font-weight: bold;
     animation-name: glow;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
       from {
        color: #fff;
      text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }
    
    to {
       color: rgb(255, 255, 255);
      text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
  }
.emp a i{
 color: white;
 font-style: italic;
}
.emp p{
  color: white;
  /* text-align: center;
  font-style: italic;
  border: 5px ,solid,white; */
}
.section3 .emp{

    border-style: dotted;
    border-color: white;
    border-width: 5px;
}
.sect .mex img{
  width: 100%;
  height: 300px;
}
.sect .btn {
  margin-top: 15px;
}